
body
{
    background-color: rgb(253, 241, 184);
}
h1
{
    text-align: center;
    color: rgb(84, 114, 174);
}
#menu-deroulant, #menu-deroulant 
ul 
{
    padding: 0;
    margin: 0;
    font-size: 2vH;

    list-style: none;

}
#menu-deroulant 
{
    text-align: center;
}
#menu-deroulant 
li
{
    display: inline-block;
    background-color: rgb(84, 114, 174);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 0.5Vmin solid white;
}
#menu-deroulant 
ul li
{
    display: inherit;
}
#menu-deroulant 
a
{
    text-decoration: none;
    display: block;
	color:#000;
}
#menu-deroulant
ul
{
    position: absolute;
    left: -999em;
    text-align: center;
    z-index: 1000;
}
#menu-deroulant 
li:hover ul 
{
    left: auto;
}