			body 
			{ 
				background-image: url(space.jpg); 
			}
			h1
			{
				color : white;
				text-align: center;
			}
			td
			{
				height: 4vH;
				width: 4vW;
			}
			#center
			{	
				float: left;
				margin-left: 25vH;
			}
			#image
			{
				position: absolute;
				margin-left: 45%;

			}
			.change
			{
				font-size: 5vH;
				color : white;
			}
			.left
			{
				text-align: left;
			}
			.right
			{
				text-align: right;
			}
			.color
			{
				background-color: rgb(73,17,55);
			}
			.color1
			{
				background-color: rgb(243, 214, 23);
			}
			.color2
			{
				background-color: rgb(158, 158, 158);
			}
			.color3
			{
				background-color: rgb(119, 181, 254);
			}
			.color4
			{
				background-color: rgb(49, 140, 231);
			}
			.color5
			{
				background-color: rgb(21, 96, 189);
			}
			.color6
			{
				background-color: rgb(1, 49, 180);
			}
			.color7
			{
				background-color: rgb(253, 108, 158);
			}
			.color8
			{
				background-color: rgb(10, 186, 181);
			}
			.color9
			{
				background-color: rgb(0, 142, 142);
			}
			.full
			{
				border : 0.2vh solid white;
				text-align: center;
				font-size: 1.2vH;
			}